# Ignore audio files in the original datasets
Original_datasets/**/*.wav
Original_datasets/**/*.WAV

# Ignore audio files generated with extended durations
Output_files/**/*.wav
Output_files/**/*.WAV

# Ignore CSV files of metadata
Original_metadata/**/*.csv
Output_metadata/**/*.csv

# Ignore notebook checkpoints
**/.ipynb_checkpoints/

#big csv files in root
/*.csv

# Ignore system files
.DS_Store
Thumbs.db