# Ignore audio files in the original datasets
Original_datasets/**/*.wav
Original_datasets/**/*.WAV

# Ignore audio files generated with extended durations
Output_files/**/*.wav
Output_files/**/*.WAV

# Ignore CSV files of metadata
Original_metadata/**/*.csv
Output_metadata/**/*.csv

#big files

Output_files/**/*.csv


# Archivos CSV grandes específicos
Output_metadata/GreatTit_metadata/final_greatTit_metadata.csv
Output_metadata/GreatTit_metadata/train_metadata.csv
Original_metadata/GreatTit_metadata/feature_vectors.csv
Original_metadata/GreatTit_metadata/great-tit-hits-crowsetta.csv
Original_metadata/GreatTit_metadata/great-tit-hits.csv


# Ignore notebook checkpoints
**/.ipynb_checkpoints/

#big csv files in root
/*.csv

# Ignore system files
.DS_Store
Thumbs.db